#overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.platform_data {
    min-height: 19px;
}

.platform_name {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.platform_data {
    text-align: center;
}
