main {
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5% 10% 0 20%;
}

input[type="text"] {
    border: 1px solid black;
    margin-bottom: 8px;
}

input[type="submit"] {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px 0 5px 0;
    background-color: gray;
    color: white;
}