.overview {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}

p {
    text-align: center;
}

.card {
    border: 4px solid #66773e;
    width: 300px;
}

.delete-button {
    display: flex;
    justify-content: flex-end;
}

.add-plant {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-plant a {
    display: block;
}