body {
    background-color: #d3ddce !important;
    padding: 0 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 10px auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header img {
    width: 70px;
    margin: 0 10px;
    flex: 1;
}

header ul {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

header li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 15px 10px;
    font-size: 20px;
}


.settings a {
    display: flex;
    align-items: center;
}

.settings img {
    width: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #333333;
}

input {
    margin: 5px 0;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
    min-height: 30px;
}

button, .button, input[type="submit"] {
    display: block;
    background-color: #364417;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 0;
    margin: 15px 0 6px;
    border-radius: 5px;
    text-align: center;
}

button:hover, .button:hover {
    color: white;
}

.item_container, .card {
    width: 300px;
    border: 4px solid #66773e;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.card {
    width: 400px;
    max-width: 80vw;
    margin: 0 auto;
}

.card input {
    display: block;
    width: 100%;
}

.card label {
    width: 100%;
}

.error {
    color: red;
}

.site_header {
    text-align: center;
    margin: 20px 0 40px;
}

.item_container img, .card img {
    margin: 30px auto;
    display: block;
    height: 150px;
}

@media screen and (max-width: 630px) {
    header {
        margin: 20px 20px 50px;
        max-width: 100%;
    }
}


@media screen and (max-width: 500px) {
    header ul {
        text-align: center;
        width: 80vw;
    }
}
